OVREQPlugin/Service References/ServiceReference1/MonitorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9990/ScoreMonitor?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9990/ScoreMonitor?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9990/ScoreMonitor?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScoreMonitor" />
      <xsd:import schemaLocation="http://localhost:9990/ScoreMonitor?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitor_RecevieBaseInfoTable_InputMessage">
    <wsdl:part name="parameters" element="tns:RecevieBaseInfoTable" />
  </wsdl:message>
  <wsdl:message name="IMonitor_RecevieBaseInfoTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecevieBaseInfoTableResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_RecevieJudgeTable_InputMessage">
    <wsdl:part name="parameters" element="tns:RecevieJudgeTable" />
  </wsdl:message>
  <wsdl:message name="IMonitor_RecevieJudgeTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecevieJudgeTableResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_RecevieScoreTable_InputMessage">
    <wsdl:part name="parameters" element="tns:RecevieScoreTable" />
  </wsdl:message>
  <wsdl:message name="IMonitor_RecevieScoreTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecevieScoreTableResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitor">
    <wsdl:operation name="RecevieBaseInfoTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/RecevieBaseInfoTable" message="tns:IMonitor_RecevieBaseInfoTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/RecevieBaseInfoTableResponse" message="tns:IMonitor_RecevieBaseInfoTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecevieJudgeTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/RecevieJudgeTable" message="tns:IMonitor_RecevieJudgeTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/RecevieJudgeTableResponse" message="tns:IMonitor_RecevieJudgeTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecevieScoreTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/RecevieScoreTable" message="tns:IMonitor_RecevieScoreTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/RecevieScoreTableResponse" message="tns:IMonitor_RecevieScoreTable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitor" type="tns:IMonitor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecevieBaseInfoTable">
      <soap:operation soapAction="http://tempuri.org/IMonitor/RecevieBaseInfoTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecevieJudgeTable">
      <soap:operation soapAction="http://tempuri.org/IMonitor/RecevieJudgeTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecevieScoreTable">
      <soap:operation soapAction="http://tempuri.org/IMonitor/RecevieScoreTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorService">
    <wsdl:port name="BasicHttpBinding_IMonitor" binding="tns:BasicHttpBinding_IMonitor">
      <soap:address location="http://localhost:9990/ScoreMonitor" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>