OVREQPlugin/Service References/ServiceReference1/ScoreMonitor2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScoreMonitor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScoreMonitor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorseName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MFName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Noc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiderName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseInfo" nillable="true" type="tns:BaseInfo" />
</xs:schema>