OVREQPlugin/Service References/ServiceReference1/ScoreMonitor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9990/ScoreMonitor?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScoreMonitor" />
  <xs:element name="RecevieBaseInfoTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScoreMonitor" minOccurs="0" name="bit" nillable="true" type="q1:BaseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecevieBaseInfoTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecevieBaseInfoTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecevieJudgeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecevieJudgeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecevieJudgeTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecevieScoreTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="st" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecevieScoreTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecevieScoreTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>